{% load static %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/LoginPage.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form action="/home/" method="post">
            {% csrf_token %}
            <div class="txt_field">
                <input type="email" name ="email" placeholder="Email Address"required>
                <span></span>
            </div>
            <div class="txt_field">
                <input type="password" name ="password" placeholder="Password"required>
                <span>
            </div>
            <input type="submit" value="Login" name="buttonlogin">
        </form>
    </div>
</body>
</html>