{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/newvisitor.css' %}">

    <title>Visitor Entry</title>
</head>
<body>
    <h3>New Visitor Form</h3>
    <form action="/display/" method="post" enctype="multipart/form-data" class="shadow p-5">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
              <span class="details">Visitor ID</span>
              <input type="text" name="id" required>
          </div>
          <div class="input-box">
              <span class="details">Name of the Visitor</span>
              <input type="text" name="name" required>
          </div>
          <div class="input-box">
              <span class="details">Mobile Number</span>
              <input type="text" name="mobile" required>
          </div>
          <div class="input-box">
              <span class="details">Date of Arrival</span>
              <input type="date" name="datetime_oa" required>
          </div>
          <div class="user-details">
            <div class="input-box">
                <span class="details">Reason</span>
                <textarea type="text"  name="reason"  required></textarea>
            </div>
            <div class="input-box">
                <span class="details">Email Address</span>
                <input type="text"  name="email" required>
            </div>
            <div class="input-box">
              <span class="details">City</span>
              <input type="text"  name="city" required>
          </div>
            <div class="input-box">
                <span class="details">Number of Visitors</span>
                <input type="number"  name="novisitor" required>
            </div>


            <div class="input-box">
                <span class="details">Faculty for Approval</span>
                <select id="faculty" name="faculty">
                  <option value="mail_studentdeen">Student Deen</option>
                  <option value="mail_wardenboys">Cheif Warden(Boys)</option>
                  <option value="mail_wardengirls">Cheif Warden(Girls)</option>
                </select>
            </div>
            <div class="user-details">
              <div class="radio-container">
                  <span class="details">Approval </span>
                  <input type="radio" id="yes" value="YES" name="approval" />
                  <label for="yes">Yes</label>

                  <input type="radio" id="no" value="NO" name="approval" />
                  <label for="no">No</label>    
              </div>
              <div class="input-box">
                  <span class="details">Exit Procedure</span>
                  <input type="radio" id="yes" value="YES" name="exit" />
                  <label for="yes">Yes</label>

                  <input type="radio" id="no" value="NO" name="exit" />
                  <label for="no">No</label>    
              </div>

              <input type="submit" value="Submit" name="buttonSubmit">
       </form>
       <button type="button" name="buttonEmail" onclick="location.href='mailto:{{fac_email}}?subject=Permission%20to%20visit%20campus&body=Name%3A%20{{name}}%0D%0ADate%20of%20arrival%3A%20{{dateofarrival}}%0D%0AReason%3A%20{{reason}}%0D%0ANumber%20of%20visitors%3A%20{{novisitor}}%0D%0AContact%20number%20%3A%20{{mobile}}%0D%0ACity%20from%3A%20{{city}}'">Send Approval</button>
</body>
</html>