@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: maroon;
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.container .title:before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: maroon;
}
form .user-details .input-box .details{
    margin: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .file-upload-input{
    height: 50%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: maroon;

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px; 
    border-bottom-width:2px;
    transition: all 0.3s ease;
}


.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:maroon;
}
.button{
    height: 45px;
    margin: 45px 0;
}
.button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    letter-spacing: 1px;
    background: maroon;
}
.button:hover{
    background: red;
}
.user-details::-webkit-scrollbar{
    width: 0;
}
